In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import Select
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from bs4 import BeautifulSoup as bs
# import time
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
import seaborn as sns
plt.style.use('ggplot')

In [2]:
pd.set_option('display.max_columns', 200)

In [3]:
driver = webdriver.Firefox()

In [4]:
dd_id = {
    # "ctl00$ContentPlaceHolder1$ddlYear
    "ctl00_ContentPlaceHolder1_ddlroundno":"6",
    "ctl00_ContentPlaceHolder1_ddlInstype":"ALL",
    "ctl00_ContentPlaceHolder1_ddlInstitute":"ALL",
    "ctl00_ContentPlaceHolder1_ddlBranch":"ALL",
    "ctl00_ContentPlaceHolder1_ddlSeattype":"ALL"    
}

In [5]:
def dropdown(id):
    item = wait.until(EC.presence_of_element_located((By.ID,id)))
    driver.execute_script("arguments[0].style.display = 'block';", item)
    return Select(item)

In [6]:
driver.get("https://josaa.admissions.nic.in/Applicant/seatallotmentresult/currentorcr.aspx")
wait = WebDriverWait(driver, 20)

In [7]:
for x in dd_id:
    select_item = dropdown(x)
    select_item.select_by_value(dd_id[x])

In [8]:
submit = wait.until(EC.presence_of_element_located((By.ID, "ctl00_ContentPlaceHolder1_btnSubmit")))
submit.click()

In [9]:
soup = bs(driver.page_source, "html.parser")
driver.quit()

In [10]:
table = soup.find('table', attrs={'id':'ctl00_ContentPlaceHolder1_GridView1'})

In [11]:
headers = []
for header in table.find_all('th'):
    headers.append(header.text.strip())

In [12]:
data = []
for row in table.find_all('tr'):
    row_data = []
    for cell in row.find_all('td'):
        row_data.append(cell.text.strip())
    data.append(row_data)

In [13]:
df = pd.DataFrame(data, columns=headers)

In [14]:
df.shape

(10366, 7)

In [15]:
df.dropna(inplace=True)
df.shape

(10365, 7)

In [16]:
df.head(10)

,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank
1,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Gender-Neutral,12511,14997
2,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Female-only (including Supernumerary),18989,21229
3,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Gender-Neutral,1852,2341
4,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Female-only (including Supernumerary),3354,3354
5,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OBC-NCL,Gender-Neutral,4326,5274
6,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OBC-NCL,Female-only (including Supernumerary),5905,7192
7,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,SC,Gender-Neutral,1941,2799
8,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,SC,Female-only (including Supernumerary),3985,3985
9,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,ST,Gender-Neutral,798,858
10,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,ST,Female-only (including Supernumerary),1349,1349

In [17]:
df.columns

Index(['Institute', 'Academic Program Name', 'Quota', 'Seat Type', 'Gender',
       'Opening Rank', 'Closing Rank'],
      dtype='object')

In [18]:
df.dtypes

Institute                object
Academic Program Name    object
Quota                    object
Seat Type                object
Gender                   object
Opening Rank             object
Closing Rank             object
dtype: object

In [19]:
df.reset_index(drop=True, inplace=True)

In [20]:
df.head()

,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank
0,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Gender-Neutral,12511,14997
1,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Female-only (including Supernumerary),18989,21229
2,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Gender-Neutral,1852,2341
3,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Female-only (including Supernumerary),3354,3354
4,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OBC-NCL,Gender-Neutral,4326,5274

In [21]:
df.shape

(10365, 7)

In [22]:
df.loc[df.duplicated()]

Empty DataFrame
Columns: [Institute, Academic Program Name, Quota, Seat Type, Gender, Opening Rank, Closing Rank]
Index: []

In [23]:
df['preparatory'] = False

In [24]:
df

,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank,preparatory
0,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Gender-Neutral,12511,14997,False
1,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Female-only (including Supernumerary),18989,21229,False
2,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Gender-Neutral,1852,2341,False
3,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Female-only (including Supernumerary),3354,3354,False
4,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OBC-NCL,Gender-Neutral,4326,5274,False
...,...,...,...,...,...,...,...,...
10360,"Indian Institute of Handloom Technology, Salem","Handloom and Textile Technology (4 Years, Bach...",AI,OPEN,Gender-Neutral,86070,101502,False
10361,"Indian Institute of Handloom Technology, Salem","Handloom and Textile Technology (4 Years, Bach...",AI,EWS,Gender-Neutral,16842,17273,False
10362,"Indian Institute of Handloom Technology, Salem","Handloom and Textile Technology (4 Years, Bach...",AI,OBC-NCL,Gender-Neutral,31415,33784,False
10363,"Indian Institute of Handloom Technology, Salem","Handloom and Textile Technology (4 Years, Bach...",AI,SC,Gender-Neutral,11685,15633,False
10364,"Indian Institute of Handloom Technology, Salem","Handloom and Textile Technology (4 Years, Bach...",AI,ST,Gender-Neutral,7884,8129,False

In [25]:
#if any non numbers in Opening and Closing Ranks
df[~df['Opening Rank'].str.match('^\d+$') | ~df['Closing Rank'].str.match('^\d+$')]

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
/tmp/ipykernel_62239/2989272731.py:2: SyntaxWarning: invalid escape sequence '\d'
  df[~df['Opening Rank'].str.match('^\d+$') | ~df['Closing Rank'].str.match('^\d+$')]
/tmp/ipykernel_62239/2989272731.py:2: SyntaxWarning: invalid escape sequence '\d'
  df[~df['Opening Rank'].str.match('^\d+$') | ~df['Closing Rank'].str.match('^\d+$')]

,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank,preparatory
67,Indian Institute of Technology Bhubaneswar,"Electrical Engineering (4 Years, Bachelor of T...",AI,OPEN (PwD),Gender-Neutral,150P,150P,False
79,Indian Institute of Technology Bhubaneswar,Electronics and Communication Engineering (4 Y...,AI,OPEN (PwD),Female-only (including Supernumerary),202P,202P,False
84,Indian Institute of Technology Bhubaneswar,Electronics and Communication Engineering (4 Y...,AI,OBC-NCL (PwD),Gender-Neutral,21P,21P,False
137,Indian Institute of Technology Bhubaneswar,Metallurgical and Materials Engineering (5 Yea...,AI,ST,Female-only (including Supernumerary),101P,101P,False
146,Indian Institute of Technology Bombay,"Aerospace Engineering (4 Years, Bachelor of Te...",AI,OBC-NCL (PwD),Gender-Neutral,74P,74P,False
...,...,...,...,...,...,...,...,...
2984,Indian Institute of Technology Dharwad,"Electrical Engineering (4 Years, Bachelor of T...",AI,OPEN (PwD),Gender-Neutral,104P,104P,False
3008,Indian Institute of Technology Dharwad,"Interdisciplinary Sciences (5 Years, Bachelor ...",AI,ST,Female-only (including Supernumerary),638P,638P,False
3011,Indian Institute of Technology Dharwad,"Mathematics and Computing (4 Years, Bachelor o...",AI,OPEN (PwD),Gender-Neutral,155P,155P,False
5945,National Institute of Technology Sikkim,"Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Gender-Neutral,573994,1005918.0,False
6561,"National Institute of Technology, Mizoram","Mechanical Engineering (4 Years, Bachelor of T...",HS,OPEN,Female-only (including Supernumerary),659805,1014892.0,False

In [26]:
preprows = df['Opening Rank'].str.match('^[0-9]+P$') | df['Closing Rank'].str.match('^[0-9]+P$')
# | ~df['Closing Rank'].str.match('^\d+$')]

In [27]:
df.loc[preprows, 'preparatory'] = True

In [28]:
df['Opening Rank'] = df['Opening Rank'].str.replace('P', '', regex=False)
df['Closing Rank'] = df['Closing Rank'].str.replace('P', '', regex=False)

In [29]:
df[df['preparatory']==True]

,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank,preparatory
67,Indian Institute of Technology Bhubaneswar,"Electrical Engineering (4 Years, Bachelor of T...",AI,OPEN (PwD),Gender-Neutral,150,150,True
79,Indian Institute of Technology Bhubaneswar,Electronics and Communication Engineering (4 Y...,AI,OPEN (PwD),Female-only (including Supernumerary),202,202,True
84,Indian Institute of Technology Bhubaneswar,Electronics and Communication Engineering (4 Y...,AI,OBC-NCL (PwD),Gender-Neutral,21,21,True
137,Indian Institute of Technology Bhubaneswar,Metallurgical and Materials Engineering (5 Yea...,AI,ST,Female-only (including Supernumerary),101,101,True
146,Indian Institute of Technology Bombay,"Aerospace Engineering (4 Years, Bachelor of Te...",AI,OBC-NCL (PwD),Gender-Neutral,74,74,True
...,...,...,...,...,...,...,...,...
2936,Indian Institute of Technology Jammu,"Materials Engineering (4 Years, Bachelor of Te...",AI,ST,Female-only (including Supernumerary),662,662,True
2954,Indian Institute of Technology Jammu,"Mechanical Engineering (4 Years, Bachelor of T...",AI,ST,Female-only (including Supernumerary),316,316,True
2984,Indian Institute of Technology Dharwad,"Electrical Engineering (4 Years, Bachelor of T...",AI,OPEN (PwD),Gender-Neutral,104,104,True
3008,Indian Institute of Technology Dharwad,"Interdisciplinary Sciences (5 Years, Bachelor ...",AI,ST,Female-only (including Supernumerary),638,638,True
3011,Indian Institute of Technology Dharwad,"Mathematics and Computing (4 Years, Bachelor o...",AI,OPEN (PwD),Gender-Neutral,155,155,True

In [30]:
df.rename(columns={'preparatory':'Preparatory'}, inplace=True)

In [31]:
df.head()

,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank,Preparatory
0,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Gender-Neutral,12511,14997,False
1,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Female-only (including Supernumerary),18989,21229,False
2,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Gender-Neutral,1852,2341,False
3,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Female-only (including Supernumerary),3354,3354,False
4,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OBC-NCL,Gender-Neutral,4326,5274,False

In [32]:
df['Opening Rank'] = df['Opening Rank'].astype(str).astype(int)
df['Closing Rank'] = df['Closing Rank'].astype(str).astype(int)

ValueError: invalid literal for int() with base 10: '1005918.0'

In [33]:
df['Closing Rank'] = df['Closing Rank'].str.replace('.0','',regex=False)

In [34]:
df[df['Closing Rank'].str.endswith('.0')]

Empty DataFrame
Columns: [Institute, Academic Program Name, Quota, Seat Type, Gender, Opening Rank, Closing Rank, Preparatory]
Index: []

In [35]:
df['Closing Rank'] = df['Closing Rank'].astype(str).astype(int)

In [36]:
df

,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank,Preparatory
0,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Gender-Neutral,12511,14997,False
1,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Female-only (including Supernumerary),18989,21229,False
2,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Gender-Neutral,1852,2341,False
3,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Female-only (including Supernumerary),3354,3354,False
4,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OBC-NCL,Gender-Neutral,4326,5274,False
...,...,...,...,...,...,...,...,...
10360,"Indian Institute of Handloom Technology, Salem","Handloom and Textile Technology (4 Years, Bach...",AI,OPEN,Gender-Neutral,86070,101502,False
10361,"Indian Institute of Handloom Technology, Salem","Handloom and Textile Technology (4 Years, Bach...",AI,EWS,Gender-Neutral,16842,17273,False
10362,"Indian Institute of Handloom Technology, Salem","Handloom and Textile Technology (4 Years, Bach...",AI,OBC-NCL,Gender-Neutral,31415,33784,False
10363,"Indian Institute of Handloom Technology, Salem","Handloom and Textile Technology (4 Years, Bach...",AI,SC,Gender-Neutral,11685,15633,False
10364,"Indian Institute of Handloom Technology, Salem","Handloom and Textile Technology (4 Years, Bach...",AI,ST,Gender-Neutral,7884,8129,False

In [37]:
df.reset_index(drop=True, inplace=True)

In [38]:
df

,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank,Preparatory
0,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Gender-Neutral,12511,14997,False
1,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Female-only (including Supernumerary),18989,21229,False
2,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Gender-Neutral,1852,2341,False
3,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Female-only (including Supernumerary),3354,3354,False
4,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OBC-NCL,Gender-Neutral,4326,5274,False
...,...,...,...,...,...,...,...,...
10360,"Indian Institute of Handloom Technology, Salem","Handloom and Textile Technology (4 Years, Bach...",AI,OPEN,Gender-Neutral,86070,101502,False
10361,"Indian Institute of Handloom Technology, Salem","Handloom and Textile Technology (4 Years, Bach...",AI,EWS,Gender-Neutral,16842,17273,False
10362,"Indian Institute of Handloom Technology, Salem","Handloom and Textile Technology (4 Years, Bach...",AI,OBC-NCL,Gender-Neutral,31415,33784,False
10363,"Indian Institute of Handloom Technology, Salem","Handloom and Textile Technology (4 Years, Bach...",AI,SC,Gender-Neutral,11685,15633,False
10364,"Indian Institute of Handloom Technology, Salem","Handloom and Textile Technology (4 Years, Bach...",AI,ST,Gender-Neutral,7884,8129,False

In [39]:
df.describe()

        Opening Rank  Closing Rank
count   10365.000000  1.036500e+04
mean    11773.626242  1.462397e+04
std     30133.378262  4.105537e+04
min         1.000000  1.000000e+00
25%      1383.000000  1.659000e+03
50%      4288.000000  5.152000e+03
75%     11562.000000  1.384400e+04
max    834722.000000  1.014892e+06

In [40]:
df.to_csv(r'../data/josaa2023.csv')